.self-pic {
	height: 23%;
	border-radius: 100%;
	margin: 1em;
}

.content-holder-1 {
	padding-top: 2em;
	width: 100%;
	color: #ffffff;
}

.content-holder-1-inner {
	display: flex; /* or inline-flex */

}

.content-holder-2 {
	display: flex;
    justify-content: space-between;
	margin-top: 2em;
	margin-bottom: 2em;
}

.about-me-text {
	display: inline-block;
	float: right;
	width: 72%;
	padding: 1em;
	background-color: #ffffff;
}

.about-me-intro {
	font-size: 2.2em;
	font-weight: 600;
}

.about-me-body {
	margin-top: 0.3em;
	font-size: 1.2em;
}

.skillset-box {
	display: inline-block;
	width: 30%;
	text-align: center;
	color: #474747;
	background-color: #ffffff;

}

.skillset-title {
	padding-top: 0.6em;
	margin-bottom: 0.6em;
	padding-bottom: 0.5em;
	color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}

.skillset-icon {
	color: #ffffff;
	padding-top: 0.3em;
}

.skillset-lesser-title {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	font-size: 1.18em;
    font-weight: 700;
}

.skillset-description {
	margin-left: 1em;
	margin-right: 1em;
}

.skillset-box-ending {
	margin-bottom: 1.2em;
}

.skillset-box-header {
	background-color: #3e7dd5;	
}