.abs-background {
	position: absolute;
	background-color: #ffffff;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
}

.colored-bg-bar {
	position: absolute;
	top: 0%;
	width: 20%;
	height: 100%;
	text-align: center;
}

.category-text {
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	margin-top: 70vh;
	font-size: 3em;
	font-weight: 900;
}

.index-title {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Rubik', sans-serif;
	font-size: 5em;
	font-weight: 900;
	mix-blend-mode: screen; /* This makes the cutout text possible */
	width: 7.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
	border-radius: 0.1em;
}

.text-white {
	color: #ffffff;
}

.colored-bg-bar .bg-bar-icon {
	transition: 0.5s;
	margin-top: 0em;
}

.colored-bg-bar:hover .bg-bar-icon{
	transition: 0.5s;
	margin-top: 0.3em;
}

.bg-bar-1 {
	left: 0%;
	animation: 1s ease-in-out 0s 1 slideInFromTop;	
}

.bg-bar-2 {
	left: 20%;
	animation: 1.05s ease-in-out 0s 1 slideInFromTop;	
}

.bg-bar-3 {
	left: 40%;
	animation: 1.1s ease-in-out 0s 1 slideInFromTop;	
}

.bg-bar-4 {
	left: 60%;
	animation: 1.15s ease-in-out 0s 1 slideInFromTop;	
}

.bg-bar-5 {
	left: 80%;
	animation: 1.2s ease-in-out 0s 1 slideInFromTop;	
}

.tab-text {
	opacity: 0;
	display: none;
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}