body {
	background-color: #ededed;
}

.content-holder-1 {
	font-size: 1.6em;
	background-color: #ffffff;
	padding: 0.5em;
	margin-top: 0.9em;
	margin-bottom: 0.9em;
}

.content-header {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 0.5em;
}

.content-header-underline {
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	margin-left: 0.35em;
	background-color: #acc4e4;
}

.technology-label {
	display: inline-block;
	margin-right: 0.5em;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0.15em;
	padding-top: 0.15em;
	background-color: #3f84de;
	color: #ffffff;
}

/* Slideshow container */
.slideshow-holder {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slideshow-slide {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.3em;
  padding: 0.4em;
  background-color: #3f84de76;
  color: #ffffff76;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
  background-color: #3f84de;
  color: #ffffff;
}

/* Caption text */
.slideshow-caption {
  color: #000000;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.slideshow-fade {
  -webkit-animation-name: ss-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: ss-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes ss-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes ss-fade {
  from {opacity: .4} 
  to {opacity: 1}
}