@font-face {
    font-family: localRubik;
	font-display: swap;
    src:url("font/Rubik-Regular.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.tab-header {
	position: fixed;
	top: 0%;
	width: 100%;
	height: 6vh;
	z-index: 100;
}

.color-1 {
	background-color: #000E21;
}

.font-color-1 {
	color: #000E21;
}

.color-2 {
	background-color: #022047;
}

.font-color-2 {
	color: #022047;
}


.color-3 {
	background-color: #094189;
}

.font-color-3 {
	color: #094189;
}

.color-4 {
	background-color: #0E6FF7;
}

.font-color-4 {
	color: #0E6FF7;
}

.color-5 {
	background-color: #FFFFFF;
}

.font-color-5 {
	color: #FFFFFF;
}

.white-bg {
	background-color: #ffffff;
}

.dark-text {
	color: #505050;
}

.default-shadow {
	box-shadow: 0 4px 0px #006fff42;

}

.alt-text-color {
	color: #a6a6a6 !important;
}

.colored-bg-tab {
	cursor: pointer;
	display: inline-block;
	top: 0%;
	width: 20%;
	height: 100%;
}

.tab-text {
	position: relative;
	height: 83%;
	margin-top: 0;
}

.tab-text-inner {
	padding-top: 0.25em;
	padding-left:0.6em;
	margin-top: 0;
	color: #505050;
	font-family: 'localRubik', sans-serif;
	font-size: 1.4em;
	font-weight: 600;
}

.tab-footer {
	height: 17%;
}

.content-holder-main {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	font-family: 'localRubik', sans-serif;
	animation: 0.5s ease-in-out 0s 1 fadeInContent;
}

.page-title-holder {
	text-align: center;
}

.page-title {
	font-size: 2.2em;
	text-align:center;
	font-weight: 600;
	padding-top: 0.5em;
	display: inline-block;
	color: #3e7dd5;
}

.page-title-underline {
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	margin-left: 0.35em;
	background-color: #acc4e4;
}

button {
	border: 0;
}

.tab-bg-selected {
	width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
	background-color: #e9ebff;
	z-index: -99;
	animation: 0.4s ease-out 0s 1 growWidth;
}

.tab-bg-unselected {
	width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
	z-index: -100;
	background-color: #ffffff;
}

@keyframes fadeInContent {
    0% {
        opacity: 0;
    }
	50% {
		opacity: 0;
	}
    100% {
        opacity: 1;
    }
}

@keyframes growWidth {
    0% {
        width: 0%;
    }
   100% {
        width: 100%;
    }
}