.projects-row {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	margin-top: 2em;
	margin-bottom: 2em;
}

.project-box {
	width: 18vw;
	height: 11vw;
	margin-top: 2vw;
	margin-bottom: 2vw;
	cursor: pointer;
	position: relative;
	z-index: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.project-box-tab-cover {
	position: absolute;
	top: -2.5em;
	left: 0;
	background-color: #f0f0f0;
	width: 100%;
	height: 2.5em;
	z-index: -1;

}

.project-box-tab {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	
	visibility: hidden; /* hides sub-menu */
	opacity: 1;
	font-size: 1.4em;
	color: #ffffff;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	position: absolute;
	top: -1.7em;
	left: 0;
	background-color: #3e7dd5;
	width: 100%;
	z-index: -2;
	transition: all 0.2s ease-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.project-box:focus .project-box-tab,
.project-box:focus-within .project-box-tab,
.project-box:hover .project-box-tab {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(1.7em);
  transition-delay: 0s, 0s, 0.2s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.project-box-tab-text {
	padding-left: 0.2em;
	font-weight: 600;
}

.project-box-arrow {
	padding-right: 0.2em;
}