.content-holder-resume {
	font-size: 1.4em;
	background-color: #ffffff;
	padding-left: 0.9em;
	padding-right: 0.9em;
	padding-top: 0.64em;
	padding-bottom: 0.64em;
	margin-top: 0.9em;
	margin-bottom: 0.9em;
	color: #505050;
}

.resume-header {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 0.5em;
}

.resume-text-1 {
	font-size: 1em;
	font-weight: 600;
}

.resume-text-2 {
	font-size: 0.82em;
}

.resume-link-holder {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 4px;
}

.resume-link-holder-inner {
	display: flex;
	justify-content: space-between;
	opacity: 1;
	font-size: 1em;
	cursor: pointer;
	color: #ffffff;
	width: 13em;
	padding: 0.25em;
	transition: background-color 0.25s, box-shadow 0.25s;
	background-color: #3f84de;
	margin-bottom: 4px;
	box-shadow: 4px 4px 0 #90c0ff;
}

.resume-link-holder-inner:hover {
	transition: background-color 0.25s, box-shadow 0.25s;
	background-color: #71adfc;
	box-shadow: 4px 4px 0 #bbd8ff;
}

.resume-link-holder-inner:active {
	transition: background-color 0.25s;
	background-color: #417ece;
	box-shadow: 0px 0px 0 #bbd8ff;
}

.resume-link-holder:active {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.text-date {
	float: right;
}

.text-light {
	color: #b6b6b6;
}

.text-tabbed {
	margin-left: 1em;
}

.spaced-below {
	margin-bottom: 0.25em;
}

.spaced-below-more {
	margin-bottom: 0.5em;
}